.group-control {
  display:         flex;
  flex-direction:  row;
  justify-content: space-between;
  text-align:      left;
}

.modal-body {
  box-shadow: lightgray 1px 1px 10px;
  box-sizing: border-box;
  margin:     20px auto;
  padding:    10px 100px;
  width:      800px;
}
