.group-control {
  display:         flex;
  flex-direction:  row;
  justify-content: space-between;
  text-align:      left;
}

.ng-container {
  margin: 60px 0;
}

.modal-body {
  box-shadow: 0 5px 10px rgba(0, 0, 0, .05);

  box-sizing: border-box;
  margin:     10px auto;
  padding:    10px 100px;
  width:      800px;
}

textarea.form-control {
  resize: none;
}
