<div>
  <app-header></app-header>
</div>
<div class="ng-container">
  <div class="container">
    <h3 class="h3 my-5 font-weight-normal text-center">Patient's Medical Record</h3>
    <form [formGroup]="patientForm" class="form-card">
      <div class="modal-body">

        <div class="group-control">
          <div class="form-group">
            <label>Gender</label>
            <input class="form-control" formControlName="gender" readonly required type="text">
          </div>
          <div class="form-group">
            <label>ID</label>
            <input class="form-control" formControlName="id" readonly required type="text">
          </div>
        </div>
        <div class="group-control">
          <div class="form-group">
            <label>Name</label>
            <input class="form-control" formControlName="name" readonly required type="text">

          </div>
          <div class="form-group">
            <label>Age</label>
            <input class="form-control " formControlName="age" readonly required type="text">
          </div>

        </div>
        <div class="group-control">

          <div class="form-group">
            <label>Risk Diabetes</label>
            <input class="form-control" formControlName="riskLevel" readonly required type="text">
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input class="form-control" formControlName="phone" readonly type="text">
          </div>
        </div>

        <div class="form-group">
          <label>Address</label>
          <textarea class="form-control" formControlName="address" readonly></textarea>
        </div>

      </div>
    </form>
  </div>
</div>
<div class="ng-container">
  <app-notes></app-notes>
</div>
