<div class="container">


  <div class="jumbotron body">
    <div>
      <h2>
        Mediscreen
      </h2>
      <div class="landing-infos">
        <p>Specializes in detecting risk factors for disease.</p>
        <p>OurScreening using predictive analysis of patient populations at affordable cost.</p>
        <p><a class="btn btn-lg btn-success" role="button" routerLink="/patients">Manage Patients</a></p>
      </div>
    </div>
    <div class="landing-img"><img alt="logo" src="assets/logo.png"></div>
  </div>

  <footer class="footer">
    <p>&copy; 2022 Company, Inc.</p>
  </footer>

</div>
